* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe el 100% de la ventana */
  padding: 90px 20px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.header {
  background-color: #0769e9;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
      padding-top: 70px;
  }

  .header {
      height: 60px;
  }

  .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
  }

  .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
  }

  .nav-menu-item {
      line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
      background: none;
      color: #83c5f7;
  }

  .nav-toggle {
      display: block;
  }

  .nav-menu_visible {
      left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
      outline: none;
  }
}

main {
  display: block;
  min-height: calc(100vh - 120px); /* Ajusta la altura del main teniendo en cuenta el footer */
  padding: 20px; /* Espacio para el contenido */
}

main section {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.image-gallery {
  margin-top: 20px;
}

.gallery-row {
  display: flex;
  gap: 20px; /* Espacio entre imágenes */
  justify-content: space-around; /* Distribuye las imágenes de manera uniforme */
}

.gallery-row figure {
  flex: 1;
  text-align: center;
}

.gallery-row img {
  max-width: 100%; /* Asegura que las imágenes no excedan el tamaño del contenedor */
  height: auto;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: auto; /* Empuja el footer al final del contenedor flexible */
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
}

.list {
  list-style: none;
}

.elem {
  padding: initial;
}

.elem:hover {
  color: rgb(255, 100, 100);
  cursor: pointer;
  transition: color 0.3s ease;
}

.title {
  color: rgb(255, 184, 70);
  position: relative;
  padding-bottom: 5px;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffe647;
}

.social-elems {
  padding-top: 20px;
}

.social-elem {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: #ff6347;
}

.social-media a:hover {
  color: #ff6347; /* A nice color for hover effect */
}

@media (max-width: 700px) {
  .footer {
      display: flex;
      justify-content: center;
  }
  .footer-content {
      flex-direction: column;
      gap: 20px;
  }
  .title::after {
      content: "";
      position: absolute;
      left: 0%;
      top: 100%;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background-color: #ffe647;
  }
}
